.timeWrapper {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
    1px 2px 4px 0px rgba(0, 255, 255, 0.7),
    2px 4px 8px 0px rgba(0, 255, 255, 0.7),
    2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}
.timeContainer {
  margin: 50px auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timeRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeSelectContainer {
  width: 300px;
  /* height: 300px; */
  background-color: #fff;
  color: black;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 50px 10px;
}
/* ======================INPUT STYLES ===============*/
.inputArea {
  display: flex;
  flex-direction: column;
}
.inputArea label {
  margin-top: 10px;
  font-weight: 600;
}
.inputArea .inputFormArea {
  outline: none;
  border-radius: 5px;
  border: 1px solid #777;
}
.inputFormArea.success {
  border: 2px solid #2ecc71;
}
.inputFormArea.error {
  border: 2px solid #e74c3c;
}
.seats {
  /* background-color: #444451; */
  height: 20px;
  width: 30px;
  margin: 3px;
  box-shadow: rgba(147, 147, 147, 0.35) 0px 5px 15px;
}

h2 {
  text-align: center;
}

.timeListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.timeSelectContainer p {
  font-weight: 600;
  font-size: 1rem;
  background-color: #6feaf6;
  width: 260px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
}
.timeSelectContainer .times {
  border: 2px solid #6feaf6;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 0.75rem;
}
.timeSelectContainer .times:hover {
  cursor: pointer;
  background-color: aqua;
  color: crimson;
}

.times.active {
  background-color: #6feaf6;
  color: black;
  border: 2px solid crimson;
}

.selectDay {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #6feaf6;
  background-color: #dcdcdc;
}

label {
  font-size: 0.75rem;
}

.leftImg img {
  width: 300px;
  height: 400px;
  margin: 50px;
  border: 3px solid white;
  background-position: center;
  background-size: contain;
}

.buttonContainer button {
  background-color: crimson;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
}
